
@{
    ViewData["Title"] = "ChangePassword";
}

<h4 class="credential-title">Change Password</h4>
<div class="credential-form-group">
    @if (ViewData["Message"] != null)
    {
        <label for="">
            @ViewData["Message"].ToString() @{TempData.Remove("Message");}
        </label>
    }
</div>
<div class="space-between">
    @Html.ActionLink("Sign In", "Login", "Account", new { key = ViewBag.Key })
</div>