@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");*{margin:0;padding:0;-webkit-box-sizing:border-box;box-sizing:border-box}.credential-wrapper{height:100vh;background:#0a4163;display:-webkit-box;display:-ms-flexbox;display:flex;overflow:auto;padding:30px}.credential-wrapper *{font-family:'Source Sans Pro',sans-serif;margin:0;padding:0;-webkit-box-sizing:border-box;box-sizing:border-box;color:#333}.credential-wrapper a{color:#0a4163;text-decoration:none;font-size:14px}.credential-wrapper a:hover{color:#052335}.credential-wrapper .space-between{display:-webkit-box;display:-ms-flexbox;display:flex;min-width:100%;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-flow:row wrap;flex-flow:row wrap;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.credential-container{margin:auto;max-width:450px;width:100%;text-align:center}.credential-block{text-align:left;width:100%;background:#fff;border-radius:4px;margin-top:30px;padding:20px}.credential-logo{min-height:80px}.credential-title{font-size:28px;color:#0a4163;font-weight:600;margin-bottom:15px}.credential-btn{background:#4b9839;color:#fff;padding:8px 20px;border-radius:3px;cursor:pointer;border:none}.credential-form-group{position:relative;margin-bottom:20px}.credential-form-group label{display:inline-block;max-width:100%;margin-bottom:2px;font-size:14px;font-weight:600}.credential-form-group .form-input{display:block;width:100%;height:34px;padding:6px 0;font-size:18px;line-height:50px;color:#444;background-color:#fff;background-image:none;border:0;border-bottom:1px solid #ccc;font-weight:400}.credential-form-group .form-input::-webkit-input-placeholder{color:#ccc}.credential-form-group .form-input::-ms-input-placeholder{color:#ccc}.credential-form-group .form-input::placeholder{color:#ccc}.credential-form-group .form-input:focus{-webkit-box-shadow:none;box-shadow:none;outline:0}.credential-form-group .pw-show,.credential-form-group .pw-hide{position:absolute;right:0;bottom:0;display:block;height:30px;width:30px;background-size:cover;cursor:pointer;opacity:.5}.credential-form-group .pw-show:hover,.credential-form-group .pw-hide:hover{opacity:1}.credential-form-group .pw-show{background-image:url("../images/pw-show.png")}.credential-form-group .pw-hide{background-image:url("../images/pw-hide.png")}.credential-form-group .checkbox{font-weight:400}.credential-form-group .checkbox input[type='checkbox']{margin-right:5px}@media screen and (max-width:350px){.credential-wrapper .space-between{display:block;text-align:center}}@media(max-width:350px){.credential-btn{width:100%;margin-top:15px}}
/* custom */
.credential-form-group .form-textarea {
    display: block;
    width: 100%;
    height: 80px;
    padding: 6px 0;
    font-size: 18px;
    line-height: 50px;
    color: #444;
    background-color: #fff;
    background-image: none;
    border: 0;
    border-bottom: 1px solid #ccc;
    font-weight: 400
}

    .credential-form-group .form-textarea::-webkit-input-placeholder {
        color: #ccc
    }

    .credential-form-group .form-textarea::-ms-input-placeholder {
        color: #ccc
    }

    .credential-form-group .form-textarea::placeholder {
        color: #ccc
    }

    .credential-form-group .form-textarea:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: 0
    }