
@{
    ViewData["Title"] = "Error";
}

<h4 class="credential-title">Error</h4>
<div class="credential-form-group">
    <label for=""> @ViewBag.ErrorMessage </label>
</div>
<div class="credential-form-group">
    <label for=""> @ViewBag.RouteOfException </label>
</div>