
@{
    ViewData["Title"] = "SignUp";
}

<h4 class="credential-title">Sign Up</h4>
<div class="credential-form-group">
    @if (ViewData["Message"] != null)
    {
        <label for="">
            @ViewData["Message"].ToString() @{TempData.Remove("Message");}
        </label>
    }
</div>

