<!DOCTYPE html>
<html>
<head>

    <title>@ViewData["Title"] - okta_custom_login</title>

    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="credential-wrapper">
        <div class="credential-container">
            <img src="~/images/acr-logo.svg" alt="credential-logo">
            <div class="credential-block">
                @RenderBody()
            </div>
        </div>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
